<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events timingLevel="custom">
      <event name="publish:end" patch:source="Sitecore.Social.config">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site patch:before="site[./text()='website']">drx</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites>
            <site patch:before="site[./text()='website']">drx</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <!-- Site configuration -->
      <site patch:before="site[@name='website']"
            inherits="website"
            name="drx"
            filterItems="false"
            enableWorkflow="false"
            hostName="#{sitecore.site.hostname}"
            virtualFolder="/drx/en"
            physicalFolder="/drx/en"
            rootPath="/sitecore/content"
            startItem="/drx"
            language="en"
            disableClientData="false"
            notFoundPath="/sitecore/content/drx/404"
            error500Path="/sitecore/content/drx/Error500"
            globalConfigItem="{B7291B38-3459-4595-B7B4-4816D68F24E2}"
            cacheHtml="true"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"/>
    </sites>
    <javaScriptServices>
      <apps>
        <!--
          JSS App Registration
          The JSS app needs to be registered in order to support layout service and import services.
          There are many available attributes, and they inherit the defaults if not explicitly specified here.
          Defaults are defined in /App_Config/Sitecore/JavaScriptServices/Sitecore.JavaScriptServices.Apps.config
          NOTE: graphQLEndpoint enables _Integrated GraphQL_. If not using integrated GraphQL, it can be removed.
        -->
        <app name="drx"
             sitecorePath="/sitecore/content/drx"
             useLanguageSpecificLayout="true"
             graphQLEndpoint="/api/cochlear"
             filesystemPath="/dist/drx"
             inherits="defaults"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
