template: 
  type: file
  path: redis.yaml

parameters:
  AtRestEncryptionEnabled: "true"
  CacheName: cochlear-{{ environment_variable.PROJECT_CODE }}-redis-{{ stack_group_config.environment }}
  CacheNodeType: cache.t2.medium
  CidrIp: "10.115.48.0/20"
  EngineVersion: "6.x"
  Environment: {{ stack_group_config.environment }}
  KMSId: !stack_output {{ stack_group_config.environment }}/infra/kms.yaml::ProjectCustomManagedKeyArn
  MultiAZSupport: "true"
  NumCacheClusters: "2"
  PreferredMaintenanceWindow: "sun:22:00-sun:23:30"
  RedisPort: "6379"
  ReplicationGroupDescription: DPX replication group
  SecruityGroupName: cochlear-{{ environment_variable.PROJECT_CODE }}-redis-{{ stack_group_config.environment }}
  SnapshotRetentionLimit: "7"
  SnapshotWindow: "05:00-09:00"
  SubnetA: subnet-06c57e24a77fd484a
  SubnetB: subnet-0fa38066b52b58bf1
  SubnetC: subnet-00f720094070537d3
  TransitEncryption: "true"
  VpcId: vpc-058f45f630bbc8eac
  Project: !environment_variable PROJECT_CODE


  # ProjectRolePattern: drx*

