// @include tablet {
//   .box {
//     padding: 30px 40px;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
//   }
// }

.content__centered--default {
  @include desktop {
    max-width: 854px;
    margin: 3em auto 7em;
  }

}