.ccl-e-phone-number-field {
  &__row {
    margin-top: 10px;
    @include tablet {
      display: flex;
    }
    &__cell-combination {
      white-space: nowrap;
      @include tablet {
        flex: 1.3;
        display: flex;
      }

      &__cell {
        &:first-child {
          width: 50%;
          min-width: 150px;
        }
        flex: 1;
        margin-bottom: 10px;
        @include tablet {
          margin-bottom: 0;
          margin-right: 20px;
          &:first-child {
            width: auto;
            min-width: auto;
            flex: 0.85;
          }
        }
      }
    }
    &__cell {
      flex: 1.3;
      @include tablet {
        margin-right: 20px;
      }
      &__text {
        // @extend .ccl__text;
        // @extend .ccl__text--informative-text;
        margin-bottom: 15px;
        @include tablet {
          margin-bottom: 0;
        }
      }
    }
  }
}
