// Colors

$black:         $color-base-neutrals-digitalblack;
$black-bis:     $color-base-neutrals-brandcharcoal;
$black-ter:     $color-base-neutrals-brandcharcoal-75;

$grey-darker:   $color-base-neutrals-brandcharcoal-50;
$grey-dark:     $color-base-neutrals-brandcharcoal-25;
$grey:          $color-base-neutrals-brandcoolgrey;
$grey-light:    $color-base-neutrals-brandcoolgrey-75;
$grey-lighter:  $color-base-neutrals-brandcoolgrey-50;
$grey-lightest: $color-base-neutrals-brandcoolgrey-25;

$white-ter:     $color-base-neutrals-brandcharcoal-10;
$white-bis:     $color-base-neutrals-brandcoolgrey-15;
$white:         $color-base-neutrals-white;

$orange:        $color-base-utility-orange;
$yellow:        $color-base-primary-brandyellow;
$green:         $color-base-utility-green;
$turquoise:     $color-base-utility-leftblue;
$cyan:          $color-base-utility-blue;
$blue:          $color-base-brandxtra-brandnavy;
$purple:        $color-base-primary-eggplant;
$red:           $color-base-utility-red;

// Typography

$family-sans-serif: $textstyle__base__family-primary;
$family-monospace: $family-monospace;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Spacing

$block-spacing: 1.5rem !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: false !default;

// Miscellaneous

$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;
$rtl: false !default;