node_modules/
.serverless/
/*.swp
profile/variables.json
/website.txt
.history
.nyc_output/
_optimize/
_warmup/
**/coverage/
**/variables.json
**/aws_resource_parameters.json
**/aws_infra_parameters.json
**/lambda_common_env_parameters.json
aws_resource_parameters.json
aws_infra_parameters.json
lambda_common_env_parameters.json
Session.vim
tags
.vs/
build.env
**/test-results.xml
.project
.DS_Store
