.ccl__list-read-mode {
  &__element {
    @include tablet {
      display: flex;
      align-items: center;
    }
    &__value {
      // @extend .ccl__text;
      color: $secondary;
      @include tablet {
        margin-right: 40px;
      }
    }
    &__field {
      display: flex;
      align-items: center;
      // @extend .ccl__text--informative-text;
      color: $grey-darker;
      @include tablet {
        margin-right: 20px;
      }
    }
    &--carersView {
      &:first-child {
        .ccl-e-read-mode-composite__element {
          margin-top: $spacing-2x !important;
        }
      }
      .ccl-e-read-mode-composite__element {
        margin-top: 0 !important;
      }
    }
  }
}
