.ccl-e-tool-bar {
  display: flex;
  list-style: none;
  margin-bottom: $spacing-2x;
  &__item {
    display: flex;
    flex: 0 1 44px;
    padding: 0 8px;
    border-bottom: $grey-light 1px solid;
    border-left: $grey-light 1px solid;
    // @extend .ccl__text;
    // @extend .ccl__text--interactive-text;
    &:last-child {
      padding: 0 0 0 8px;
    }
    &:first-child {
      padding: 0 8px 0 0;
      border-left: transparent 0px none;
    }
    &--grow {
      flex-grow: 1;
    }
    &--confine {
      flex-grow: 0;
    }
  }
}
