@cochlear-design-system:registry=https://gitlab.cochlear.dev/api/v4/projects/914/packages/npm/
//gitlab.cochlear.dev/api/v4/projects/914/packages/npm/:_authToken="glpat-VMudiiXdxT4ChGZ4Exk9"
@digital:registry=https://gitlab.cochlear.dev/api/v4/packages/npm/
//gitlab.cochlear.dev/api/v4/packages/npm/:_authToken="glpat-VMudiiXdxT4ChGZ4Exk9"
